<!doctype html>
<html lang="en">
<head>
  <title>{{ title }}</title>
  <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
  <link rel="stylesheet" href="http://purecss.io/combo/1.18.13?/css/layouts/marketing.css">
</head>
<body class="splash-container">
  <div class="splash">
      <h1 class="splash-head">Hello {{ name }}</h1>
      <p class="splash-subhead">Welcome to node {{ version }}!</p>
      <p>
        <a href="http://purecss.io" class="pure-button pure-button-primary">Get Started</a>
      </p>
  </div>
</body>
</html>
